*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
/* style for header showcase and navbar*/
.showcase header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	padding: 0 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
	.toggle{
	position:relative;
	width:60px;
	height:60px;
	background: url('menu-icon.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:40px;
	cursor:pointer;
	z-index:1000;
}

.toggle.active{
	position:relative;
	width:60px;
	height:60px;
	background: url('menu-icon.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:40px;
	cursor:pointer;
	z-index:1000;
}

.logo{
	position: relative;
	text-transform: uppercase;
}

.logo a{
	font-size: 20px;
	margin-left: 12px;
	text-decoration: none;
	font-weight: 700;
}
.showcase{
	position:absolute;
	top:0;
	right:0;
	width:100vw;
	height:90vh;
	background :url('img/fones7.jpeg');
	background-attachment: scroll;
	background-repeat:no-repeat;
	background-position: 72% 50%;
	background-size:cover;
	z-index:500;
	transition:1.2s;
}

.overlay{
	position:absolute;
	top:0;
	right:0;
	width:100vw;
	height:90vh;
	background :rgba(0,0,0,0.6);
	mix-blend-mode: overlay;
	z-index:500;
}
.showcase.active{
	right:180px;
}

.text_2{
	position: absolute;
	top: 140px;
	left: 200px;
	z-index: 1000;
}

.text_2 h2{
	text-shadow: 2px 1.5px gold;
	color:antiquewhite;
	font-size: 21px;
	letter-spacing: 1.4px;

}

.text_2 h3{
	color:antiquewhite;
	font-size: 24px;
}


@media(max-width: 768px){
	.text_2{
	position: absolute;
	top: 35vh;
	left: 47vw;
	z-index: 1000;

	}

}

.menu{
	position:absolute;
	top:0;
	right:0;
	width:180px;
	height:90vh;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color: grey;
	z-index: 100;
}
.menu a{
	font-size:16px;
	color:antiquewhite;
	text-decoration:none;
}

.menu a:hover{
	color:gold;
	letter-spacing:2px;
}

.menu li{
		list-style-type: square;
		line-height:35px;
		letter-spacing:1.3px;
}
/* style for header showcase and navbar ENDS*/

.container {
  z-index: 2;
  position: relative;
}

.bg-primary {
  	background:#37488a;
  }

section.couponsection {
  padding: 50px 0;
  position: relative;
}

.coupon {
  width: 570px;
  max-width: 100%;
  margin: 0px auto;
  margin-top: 50px;
  padding: 40px;
  background: rgba(252, 255, 250, 0.14);
  text-align: center;
  border: 8px dashed rgba(255, 255, 255, 0.32);
  color: #fff;
}
.coupon h3, .coupon h4, .header-content h1, .header-content h4 {
  color:#fff;
}
.btn-buynow {
  border:2px solid transparent;
  color:#fff;
  font-size:13px;
  padding:15px 35px;
  background:#900d0d;
  margin-top:10px;
}
.btn-buynow:hover {
  opacity:0.8;
  color:#fff;
}
section.couponsection h2 {
		font-size:70px;
        color: inherit;
	}

  /* coupon section  ENDS*/

.heading{
	text-decoration: none;
	font-size: 27px;
	font-weight: 900;
	color: rgba(100,20,0, 0.6);
}

.mynav{
	font-weight: 700;
	font-family: sans-serif;
	color: rgba(0,50,100, 0.79);
}

@media(max-width: 600px){
	.mynav a{
		width: 80px !important;
		font-weight: 900;
		text-align: center !important;
	}
}

.mynav a{
	width: 110px;
	transition: width 0.5s;
}

.mynav a:hover{
	width: 103px;
	color: tomato !important;
	border-radius: 20px;
	background-color: slateblue !important;
}

.box_shade{
	box-shadow: 2px 2px 5px orange;
}

.dflex{
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-gap: 1.5px;
}

.showcase-swap{
	height: 70vh;
	position: relative;
	background-image: url(img/swap-showcase.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.showcase-swap::after{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	width: 100%;
	height: 100%;
	z-index: 1;
}


.showcase-repairs{
	height: 60vh;
	position: relative;
	background-image: url(img/rep.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.showcase-repairs::after{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	width: 100%;
	height: 100%;
	z-index: 5;
}



/*  WELCOME SLIDE  */

.welcomeslide{
	padding: 20px;
}

.welcomeslide h3{
	color: silver;
	font-weight: 580;
	font-size: 20px;
	letter-spacing: 1px;
	font-family: monospace;
}

.welcomeslide p{
	color: skyblue;
	padding: 10px;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1.3px;
	font-family: sans-serif;
}

.welcomeslide img{
	width: 145px;
	transition: width 0.6s;
}

.welcomeslide img:hover{
	width: 150px;
}

/*  SERVICES SLIDE  */

.servicesslide p{
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1.3px;
}
.servicesslide h2{
	opacity: 0.6;
	font-weight: 700;
	font-family: sans-serif;
}

.servicesslide h5{
	margin-top: -6px;
	opacity: 0.6;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 1.1px;
}

.servicesslide h3{
	opacity: 0.9;
	font-weight: 700;
}

.servicesslide h4{
	opacity: 0.9;
	font-weight: 700;
}

.servicesslide hr{
	width: 50%;
	margin-left: 75px;
	margin-top: -1px;
}
.servicesslide img{
	width: 85%;
	border-radius: 29px;
	height: 168px;
}

/*  locate us section*/

/* EXPERTS SECTION */

/*=== HOT SALES===*/

#hotSales img{
	width: 80%;
	height: 230px;
}


/*---ANIMATIONS---*/

.tainer{
	display: flex;
	justify-content: center;
	font-size: 1.1rem;
	font-weight: bolder;
	list-style-type: none;
	gap:20px;
}
.tainer li{
	animation-name: bubbly;
	animation-duration: calc(var(--i) * 2.3s);
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	animation-delay: -1s;
	animation-iteration-count: infinite;
}

@keyframes bubbly{
	0%{opacity: 0;transform: scale(0);color: green;}
	70%{opacity: 1;transform: scale(1.3);color: teal}
	100%{opacity: 1;transform: scale(1);color: orange;}
}

.tainer2{
	display: flex;
	justify-content: center;
	font-size: 1.7rem;
	font-weight: bolder;
	list-style-type: none;
	gap:20px;
}
.tainer2 li{
	animation-name: bubblys;
	animation-duration: calc(var(--i) * 2.3s);
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	animation-delay: -1s;
	animation-iteration-count: infinite;
}

@keyframes bubblys{
	0%{opacity 0;left: 0px; top:0px;color: white;}
	70%{opacity 1;left:200px; top:0px;color: teal}
	100%{opacity: 1;transform scale(1);color: orange;}
}

input{
	background-color: inherit !important;
}